@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Rover Photos Downloader</h1>

    <button id="downloadphotosbutton" 
            ng-click="downloadPhotos()" 
            class="btn btn-lg btn-outline-primary"
            ng-disabled="isLoading">Start Download</button>
    
    <hr />

    <div ng-if="result.fileName">
        <h3>Download Result</h3>
        <h4>File Name : {{result.fileName}}</h4>
        <div ng-repeat="batch in result.batches">
            <p><strong>Date : {{batch.rawDate}}</strong>  <span style="color:red" ng-hide="batch.isValid">[Invalid Date!]</span></p>
            <p>Total Photos : {{batch.downloadResults.length}}</p>
            <div>
                <img style="width:200px;" ng-repeat="p in batch.downloadResults" class="img-thumbnail" src="/home/getphoto?filename={{p.fileName}}" />
            </div>
            <hr />
        </div>
        
    </div>

    <div id="logList">
        <label ng-repeat="log in logs track by $index">
            {{log}}
        </label>
    </div>

</div>